html, body {
    height:             100%;
}

body {
    background-color:   #70CF51;
    font-family:        'Press Start 2P', cursive;
    color:              white;
    font-size:          22px;
    overflow:           hidden;
    margin:             0px; 
    padding:            0px;
    background-image:   url(../images/space2.jpg);
    background-repeat:  no-repeat;
    background-size:    cover;
}

body * {
    position:           absolute;
    display:            block;
    box-sizing:         border-box;
    background-repeat:  no-repeat;
}

splash {
    font-family: 'Comfortaa';font-size: 22px;
    font-size:2em;
    cursor: pointer;
    width:500px;
    height:100px;
    margin-top:calc(50vh - 50px);
    margin-left:calc(50vw - 250px);
    text-align:center;
}

phaserbeam {
    background-image:   url(../images/bullet1.png);
    width:              25px;
    height:             25px;
    background-size:    contain;
}

astroid {
    background-image:   url(../images/meteor1.png);
    width:              81px;
    height:             80px;
    background-size:    contain;
}

spaceship {
    background-image:   url(../images/ship3.png);
    width:              80px; 
    height:             76px;
    background-size:    contain;
}

score {
    margin:10px;
    width:100%; height:100px;
    position: absolute;
    left:0px;
    font-family: 'Comfortaa';font-size: 22px;
    font-size: 2em;
    line-height: 1.2em;
    color:white;
}